.s11_text {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 15px;
  right: 10px;
}

/* #s03-1 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  overflow: hidden;
} */


.carousel-inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 的比例 */
  overflow: hidden;
}

#s04 {
  background-image: url(image/section-4-3.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#s05 {
  background-image: url(image/section-5-2.png);
  /* 默认背景图片 */
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #f8f9fa; /* Change this to your desired color */
  padding: 10px; /* Adjust padding as needed */
  /* text-align: End;  */
  z-index: 1000; /* Ensure it stays above other content */
}



@media screen and (max-width: 768px) {

  .s07_text,
  .s09_text {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 15px;
    right: 10px;
  }

  .bg-video {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .carousel-video {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  #s04 {
    background-image: url(image/section-4-1.png);
    /* 768px 以下的背景图片 */
  }

  #s04 .container {
    display: none;
  }

  #s05 {
    background-image: url(image/section-5-3.png);
    /* 768px 以下的背景图片 */
    background-size: cover;
    max-width: 100%;

  }

  #s05 .container {
    display: none;
  }


}