<!DOCTYPE html>
<html layout:decorate="layouts/layout.html">

<body>
  <div class="container positioned-section" layout:fragment="content">
    <h1>test</h1>

    <!--**********Video 1**********-->
    <section id="videoBrain">
      <video autoplay muted loop class="bg-video">
        <source src="image/Vaule-1.mp4" type="video/mp4" />
      </video>
    </section>

    <!--**********Video 2**********-->
    <section id="videoTriple">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <video autoplay muted loop class="carousel-video" style="width: 100%;">
              <source src="image/v-1.mp4" type="video/mp4" />
            </video>
            <div class="carousel-caption p-3 rounded-2 shadow-lg d-none d-md-block">
              <h5>Win or Lose</h5>
              <p>
                投資智慧，創造未來，財富增值，從每一步開始，長期眼光，穩健增長。
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <video autoplay muted loop class="carousel-video" style="width: 100%; height: 100%; object-fit: cover;">
              <source src="image/v-2.mp4" type="video/mp4" />
            </video>
            <div class="carousel-caption p-3 rounded-2 shadow-lg d-none d-md-block"
              style="background-color: rgba(0, 0, 0, 0.3)">
              <h5>Win or Lose</h5>
              <p>
                風險控制，成功關鍵，投資不僅是資本，更是策略，掌握機會，成就夢想。
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <video autoplay muted loop class="carousel-video" style="width: 100%; height: 100%; object-fit: cover;">
              <source src="/image/v-3.mp4" type="video/mp4" />
            </video>
            <div class="carousel-caption p-3 rounded-2 shadow-lg d-none d-md-block"
              style="background-color: rgba(0, 0, 0, 0.3)">
              <h5>Win or Lose</h5>
              <p>
                明智選擇，實現財富自由，穩中求進，資產增值，洞察市場，未來可期，用心投資，見證成長。
              </p>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>


    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/counterup2@2.0.2/dist/index.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
  </div>


 
  <!--
      <script>
        var flag_username = false;
        var flag_password = false;
        var flag_re_password = false;
        var flag_email = false;
        var flag_chk = false;
        $(function () {
          //wow
          new WOW().init();
          //s04 counter up
          const counterUp = window.counterUp.default;

          const callback = (entries) => {
            entries.forEach((entry) => {
              const el = entry.target;
              if (entry.isIntersecting && !el.classList.contains("is-visible")) {
                counterUp(el, {
                  duration: 2000,
                  delay: 16,
                });
                el.classList.add("is-visible");
              }
            });
          };

          const IO = new IntersectionObserver(callback, { threshold: 1 });

          const el01 = document.querySelector(".counter01");
          IO.observe(el01);
          const el02 = document.querySelector(".counter02");
          IO.observe(el02);
          const el03 = document.querySelector(".counter03");
          IO.observe(el03);
          const el04 = document.querySelector(".counter04");
          IO.observe(el04);

          // //確認uid是否存在且合法
          // if (getCookie("uid01") != "") {
          //   //將uid01傳遞至後端api確認是否合法
          //   var dataJSON = {};
          //   dataJSON["uid01"] = getCookie("uid01");
          //   console.log(JSON.stringify(dataJSON));

          //   $.ajax({
          //     type: "POST",
          //     url: "member-login-check-uid-api.php",
          //     data: JSON.stringify(dataJSON),
          //     dataType: "json",
          //     success: showdata_check_uid,
          //     error: function () {
          //       alert("error-member-login-check-uid-api.php");
          //     },
          //   });
          // } else {
          //   alert("尚未登入, 請登入會員來使用附加功能!");
          // }

          //**********************************註冊功能***********************************************
          //監聽username
          $("#registerModal_username").bind("input propertychange", function () {
            if ($(this).val().length > 2 && $(this).val().length < 9) {
              //符合前端規定
              //傳遞至後端API確認帳號是否可以使用
              var dataJSON = {};
              dataJSON["username"] = $("#registerModal_username").val();
              console.log(JSON.stringify(dataJSON));
              //傳遞至後端API
              $.ajax({
                type: "POST",
                url: "member-register-checkuni-api.php",
                data: JSON.stringify(dataJSON),
                dataType: "json",
                success: showdata_checkuni,
                error: function () {
                  alert("error-member-register-checkuni-api.php");
                }
              });
            } else {
              //不符合規定
              $(this).removeClass("is-valid");
              $(this).addClass("is-invalid");
              flag_username = false;
            }
          });

          //監聽password
          $("#registerModal_password").bind("input propertychange", function () {
            if ($(this).val().length > 2 && $(this).val().length < 9) {
              //符合規定
              $(this).removeClass("is-invalid");
              $(this).addClass("is-valid");
              flag_password = true;
            } else {
              //不符合規定
              $(this).removeClass("is-valid");
              $(this).addClass("is-invalid");
              flag_password = false;
            }
          });

          //監聽registerModal_re_password
          $("#registerModal_re_password").bind(
            "input propertychange",
            function () {
              if ($(this).val() == $("#registerModal_password").val()) {
                //符合規定
                $(this).removeClass("is-invalid");
                $(this).addClass("is-valid");
                flag_re_password = true;
              } else {
                //不符合規定
                $(this).removeClass("is-valid");
                $(this).addClass("is-invalid");
                flag_re_password = false;
              }
            }
          );

          //監聽email
          $("#registerModal_email").bind("input propertychange", function () {
            if ($(this).val().length > 2 && $(this).val().length < 16) {
              //符合規定
              $(this).removeClass("is-invalid");
              $(this).addClass("is-valid");
              flag_email = true;
            } else {
              //不符合規定
              $(this).removeClass("is-valid");
              $(this).addClass("is-invalid");
              flag_email = false;
            }
          });

          $("#registerModal_chk").change(function () {
            if ($(this).is(":checked")) {
              //打勾
              $(this).removeClass("is-invalid");
              $(this).addClass("is-valid");
              flag_chk = true;
            } else {
              //未打勾
              $(this).removeClass("is-valid");
              $(this).addClass("is-invalid");
              flag_chk = false;
            }
          });

          //註冊按鈕監聽
          $("#registerModal_ok_btn").click(function () {
            if (
              flag_username &&
              flag_password &&
              flag_re_password &&
              flag_email &&
              flag_chk
            ) {
              //傳遞註冊資料至後端API 執行註冊行為
              //{"username":"owner01", "password":"123456", "email": "owner@test.com"}
              var dataJSON = {};
              dataJSON["username"] = $("#registerModal_username").val();
              dataJSON["password"] = $("#registerModal_password").val();
              dataJSON["email"] = $("#registerModal_email").val();
              console.log(JSON.stringify(dataJSON));

              $.ajax({
                type: "POST",
                url: "member-register-api.php",
                data: JSON.stringify(dataJSON),
                dataType: "json",
                success: showdata_register,
                error: function () {
                  alert("error-member-register-api.php");
                },
              });
            } else {
              // alert("欄位有錯請修正!");
              Swal.fire({
                title: "欄位有錯請修正!",
                showDenyButton: false,
                showCancelButton: false,
                confirmButtonText: "Save",
                denyButtonText: `Don't save`,
              }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                  Swal.fire("Saved!", "", "success");
                } else if (result.isDenied) {
                  Swal.fire("Changes are not saved", "", "info");
                }
              });
            }
          });

          //**********************************登入登出功能***********************************************
          //登入按鈕監聽
          $("#loginModal_ok_btn").click(function () {
            if (
              $("#loginModal_username").val() != "" &&
              $("#loginModal_password").val() != ""
            ) {
              //帳號密碼都有輸入
              //傳遞登入資料至後端API 執行登入行為
              //{"username":"owner01", "password":"123456"}
              var dataJSON = {};
              dataJSON["username"] = $("#loginModal_username").val();
              dataJSON["password"] = $("#loginModal_password").val();

              console.log(JSON.stringify(dataJSON));

              $.ajax({
                type: "POST",
                url: "member-login-api.php",
                data: JSON.stringify(dataJSON),
                dataType: "json",
                success: showdata_login,
                error: function () {
                  alert("error-member-login-api.php");
                },
              });
            } else {
              //帳號密碼都有空白欄位
              alert("登入錯誤!");
            }
          });

          //登出按鈕監聽
          $("#s02_logout_btn").click(function () {
            setCookie("uid01", "", 7);
            location.href = "0730-spa.html";
          });
        }); //end fun

        function showdata_checkuni(data) {
          console.log(data);
          if (data.state) {
            $("#registerModal_username").removeClass("is-invalid");
            $("#registerModal_username").addClass("is-valid");
            flag_username = true;
          } else {
            $("#registerModal_username").removeClass("is-valid");
            $("#registerModal_username").addClass("is-invalid");
            flag_username = false;
          }
        }

        function showdata_register(data) {
          console.log(data);
          if (data.state) {
            alert(data.message);
            location.href = "0730-spa.html";
          } else {
            alert(data.message);
          }
        }

        function showdata_login(data) {
          console.log(data);
          if (data.state) {
            if (data.data.State == "1") {
              //帳號啟用狀態
              alert(data.message);
              //loginModal隱藏
              $("#loginModal").modal("hide");
              //顯示登入帳號
              $("#s02_login_username").text(data.data.Username);
              //隱藏登入與註冊按鈕
              $("#s02_login_btn").addClass("d-none");
              $("#s02_register_btn").addClass("d-none");
              //顯示登出按鈕
              $("#s02_logout_btn").removeClass("d-none");

              //顯示vip高級功能
              $("#s02_btn01").removeClass("disabled");
              $("#s02_btn02").removeClass("disabled");
              $("#s02_btn03").removeClass("disabled");
              $("#s03").removeClass("d-none");
              $("#s04").removeClass("d-none");
              $("#s05").removeClass("d-none");
              $("#s06").removeClass("d-none");
              $("#s07").removeClass("d-none");
              $("#s08").removeClass("d-none");
              $("#s09").removeClass("d-none");
              $("#s10").removeClass("d-none");
              $("#s11").removeClass("d-none");
              $("#s12").removeClass("d-none");
            } else {
              //帳號停權
              alert(data.message + "帳號已被停權");
              //loginModal隱藏
              $("#loginModal").modal("hide");
              //顯示登入帳號
              $("#s02_login_username").text(data.data.Username);
              //隱藏登入與註冊按鈕
              $("#s02_login_btn").addClass("d-none");
              $("#s02_register_btn").addClass("d-none");
              //顯示登出按鈕
              $("#s02_logout_btn").removeClass("d-none");
            }


            //將uid01寫入cookie
            setCookie("uid01", data.data.Uid01, 7);
          } else {
            alert(data.message);
          }
        }

        function showdata_check_uid(data) {
          console.log(data);
          if (data.state) {
            if (data.data.State == "1") {
              //帳號啟用狀態
              //顯示登入帳號
              $("#s02_login_username").text(data.data.Username);
              //隱藏登入與註冊按鈕
              $("#s02_login_btn").addClass("d-none");
              $("#s02_register_btn").addClass("d-none");
              //顯示登出按鈕
              $("#s02_logout_btn").removeClass("d-none");

              //顯示vip高級功能
              $("#s02_btn01").removeClass("disabled");
              $("#s02_btn02").removeClass("disabled");
              $("#s02_btn03").removeClass("disabled");
              $("#s03").removeClass("d-none");
              $("#s04").removeClass("d-none");
              $("#s05").removeClass("d-none");
              $("#s06").removeClass("d-none");
              $("#s07").removeClass("d-none");
              $("#s08").removeClass("d-none");
              $("#s09").removeClass("d-none");
              $("#s10").removeClass("d-none");
              $("#s11").removeClass("d-none");
              $("#s12").removeClass("d-none");

            } else {
              //帳號停權
              //帳號為停權狀態
              alert(data.message + "該帳號已被停權!");
              //loginModal隱藏
              $("#loginModal").modal("hide");
              //顯示登入帳號
              $("#s02_login_username").text(data.data.Username);
              //隱藏登入與註冊按鈕
              $("#s02_login_btn").addClass("d-none");
              $("#s02_register_btn").addClass("d-none");
              //顯示登出按鈕
              $("#s02_logout_btn").removeClass("d-none");

            }

          }
        }

        //********************from w3********************
        function setCookie(cname, cvalue, exdays) {
          const d = new Date();
          d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
          let expires = "expires=" + d.toUTCString();
          document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
          let name = cname + "=";
          let decodedCookie = decodeURIComponent(document.cookie);
          let ca = decodedCookie.split(";");
          for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == " ") {
              c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
            }
          }
          return "";
        }
      </script> -->
</body>

</html>