<!DOCTYPE html>
<html layout:decorate="layouts/layout.html">

<body>
  <div class="container positioned-section" layout:fragment="content">
    <h1>test</h1>

    <!--**********Video 1**********-->
    <section id="videoBrain">
      <video autoplay muted loop class="bg-video">
        <source src="image/Vaule-1.mp4" type="video/mp4" />
      </video>
    </section>

    <!--**********Video 2**********-->
    <section id="videoTriple">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <video autoplay muted loop class="carousel-video" style="width: 100%;">
              <source src="image/v-1.mp4" type="video/mp4" />
            </video>
            <div class="carousel-caption p-3 rounded-2 shadow-lg d-none d-md-block">
              <h5>Win or Lose</h5>
              <p>
                投資智慧，創造未來，財富增值，從每一步開始，長期眼光，穩健增長。
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <video autoplay muted loop class="carousel-video" style="width: 100%; height: 100%; object-fit: cover;">
              <source src="image/v-2.mp4" type="video/mp4" />
            </video>
            <div class="carousel-caption p-3 rounded-2 shadow-lg d-none d-md-block"
              style="background-color: rgba(0, 0, 0, 0.3)">
              <h5>Win or Lose</h5>
              <p>
                風險控制，成功關鍵，投資不僅是資本，更是策略，掌握機會，成就夢想。
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <video autoplay muted loop class="carousel-video" style="width: 100%; height: 100%; object-fit: cover;">
              <source src="/image/v-3.mp4" type="video/mp4" />
            </video>
            <div class="carousel-caption p-3 rounded-2 shadow-lg d-none d-md-block"
              style="background-color: rgba(0, 0, 0, 0.3)">
              <h5>Win or Lose</h5>
              <p>
                明智選擇，實現財富自由，穩中求進，資產增值，洞察市場，未來可期，用心投資，見證成長。
              </p>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

  </div>
</body>

</html>