<!DOCTYPE html>
<html layout:decorate="layouts/layout.html">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Your App</title>

  <!-- Common CSS -->
  <link rel="stylesheet" th:href="@{/css/all.min.css}" />
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/mycolor.css}" />
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" th:href="@{/css/crud.css}" />
</head>

<body th:object="${loginModel}" layout:fragment="content">
  <div>
    <div class="row justify-content-center align-items-center">
      <div class="col-6">
        <figure class="highcharts-figure">
          <div class="container" id="piechart"></div>

          <p>
            <單位:千元>
          </p>
        </figure>
        <div>
          {
          <br>"出表日期": "string",
          <br>"年度": "string",
          <br>"季別": "string",
          <br>"公司代號": "string",
          <br>"公司名稱": "string",
          <br>"產業別": "string",
          <br>"基本每股盈餘(元)": "string",
          <br>"普通股每股面額": "string",
          <br>"營業收入": "string",
          <br>"營業利益": "string",
          <br>"營業外收入及支出": "string",
          <br>"稅後淨利": "string"
          }
        </div>
      </div>


      <div class="col-6">
        <!-- tabel for reading mysql data  -->

        <!-- <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>公司名稱</th>
              <th>本期稅後淨利</th>
              <th>所得稅費用</th>
              <th>營業外收入及支出</th>
              <th>建置時間</th>
            </tr>
          </thead>
          <tbody id="pieTable">
            <tr>
              <td data-th="ID">001</td>
              <td data-th="公司名稱">台灣水泥</td>
              <td data-th="本期稅後淨利">65</td>
              <td data-th="所得稅費用">10</td>
              <td data-th="營業外收入及支出">11</td>
              <td data-th="建檔時間">202408050205</td>
            </tr>
          </tbody>
        </table> -->


        <!-- demo  -->
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                <h2>Manage <b>Employees</b></h2>
              </div>
              <div class="col-sm-6">
                <!-- <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
                              class="material-icons">&#xE147;</i> <span>Add New Employee</span></a> -->
                <button class="btn btn-success" data-bs-target="#addEmployeeModal" data-bs-toggle="modal"><i
                    class="material-icons">&#xE147;</i><span>Add New Employee</span></button>

                <button class="btn btn-danger" data-bs-target="#deleteEmployeeModal" data-bs-toggle="modal"><i
                    class="material-icons">&#xE15C;</i><span>Delete</span></button>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  <span class="custom-checkbox">
                    <input type="checkbox" id="selectAll">
                    <label for="selectAll"></label>
                  </span>
                </th>
                <th>ID</th>
                <th>公司名稱</th>
                <th>本期稅後淨利</th>
                <th>所得稅費用</th>
                <th>營業外收入及支出</th>
                <th>建置時間</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="pieTable">
              <tr>
                <td>
                  <span class="custom-checkbox">
                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                    <label for="checkbox1"></label>
                  </span>
                </td>
                <td data-th="ID">001</td>
                <td data-th="公司名稱">台灣水泥</td>
                <td data-th="本期稅後淨利">65</td>
                <td data-th="所得稅費用">10</td>
                <td data-th="營業外收入及支出">11</td>
                <td data-th="建檔時間">202408050205</td>
                <td>
                  <button data-bs-target="#editEmployeeModal" class="edit" data-bs-toggle="modal"
                    style="border: none; "><i class="material-icons" data-toggle="tooltip"
                      title="Edit">&#xE254;</i></button>
                  <button data-bs-target="#deleteEmployeeModal" class="delete" data-bs-toggle="modal"
                    style="border: none;"><i class="material-icons" data-toggle="tooltip"
                      title="Delete">&#xE872;</i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        <!-- <script src="/js/accessibilty.js"></script> -->
        <script src="/js/graphChart.js"></script>
        <script src="/js/pieChartMore.js"></script>
        <!-- <script src="/js/export_data.js"></script>
  <script src="/js/exporting.js"></script> -->
        <script src="/js/jquery-3.7.1.min.js"></script>
        <script src="/js/crud.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>


        <script>
          var com_NameElts = [];
          var net_IncomeElts = [];
          var tax_FeeElts = [];
          var profit_non_SalesElts = [];

          $.ajax({
            type: "GET",
            url: "http://localhost:8080/charts/",
            dataType: "json",
            async: false,
            success: resultShow,
            error: function () {
              alert("pie.html got some errors");
            }
          });


          function resultShow(result) {
            console.log(result);

            $("#pieTable").empty();

            result.forEach(function (item) {

              // var strHTML = '<tr><td data-th="ID">' + item.id + '</td><td data-th="公司名稱">' + item.com_Name + '</td><td data-th="本期稅後淨利">' + item.net_Income + '</td><td data-th="所得稅費用">' + item.tax_Fee + '</td><td data-th="營業外收入及支出">' + item.profit_non_Sales + '</td><td data-th="建檔時間">' + item.crt_Time + '</td></tr>';
              var strHTML = '<tr><td><span class="custom-checkbox"><input type="checkbox" id="checkbox1" name="options[]" value="1"><label for="checkbox1"></label></span></td><td data-th="ID">' + item.id + '</td><td data-th="公司名稱">' + item.com_Name + '</td><td data-th="本期稅後淨利">' + item.net_Income + '</td><td data-th="所得稅費用">' + item.tax_Fee + '</td><td data-th="營業外收入及支出">' + item.profit_non_Sales + '</td><td data-th="建檔時間">' + item.crt_Time + '</td><td><button data-bs-target="#editEmployeeModal" class="edit" data-bs-toggle="modal" style="border: none; "><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></button><button data-bs-target="#deleteEmployeeModal" class="delete" data-bs-toggle="modal"  style="border: none;"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></button></td></tr>';

              $("#pieTable").append(strHTML);

              com_NameElts.push(item.com_Name);
              net_IncomeElts.push(item.net_Income);
              tax_FeeElts.push(item.tax_Fee);
              profit_non_SalesElts.push(item.profit_non_Sales);
            });
          }

          console.log(com_NameElts);
          console.log(net_IncomeElts);
          console.log(tax_FeeElts);
          console.log(profit_non_SalesElts);



          const chart = Highcharts.chart('piechart', {
            colors: ['#C0C0C0', '#FFD700', '#CD7F32'],
            chart: {
              type: 'column',
              inverted: true,
              polar: true
            },
            title: {
              text: '上市公司本期營業利益',
              align: 'left'
            },
            subtitle: {
              text: '水泥工業(新增下拉選單)',
              align: 'left'
            },
            tooltip: {
              outside: true
            },
            pane: {
              size: '85%',
              innerSize: '20%',
              endAngle: 270
            },
            xAxis: {
              tickInterval: 1,
              labels: {
                align: 'right',
                useHTML: true,
                allowOverlap: true,
                step: 1,
                y: 3,
                style: {
                  fontSize: '13px'
                }
              },
              lineWidth: 0,
              gridLineWidth: 0,
              categories: [
                com_NameElts[0],
                com_NameElts[1],
                com_NameElts[2],
                com_NameElts[3],
                com_NameElts[4],
                com_NameElts[5],
                com_NameElts[6]
              ]
            },
            yAxis: {
              lineWidth: 0,
              tickInterval: 25,
              reversedStacks: false,
              endOnTick: true,
              showLastLabel: true,
              gridLineWidth: 0
            },
            plotOptions: {
              column: {
                stacking: 'normal',
                borderWidth: 0,
                pointPadding: 0,
                groupPadding: 0.15,
                borderRadius: '50%'
              }
            },
            series: [
              {
                name: '營業外收入及支出', //non-opRnE
                // data: [3289140
                //   , 5806379
                //   , 88593
                //   , 275448
                //   , -15075
                //   , 46635
                //   , -247
                // ]
                data: [
                  profit_non_SalesElts[0],
                  profit_non_SalesElts[1],
                  profit_non_SalesElts[2],
                  profit_non_SalesElts[3],
                  profit_non_SalesElts[4],
                  profit_non_SalesElts[5],
                  profit_non_SalesElts[6],
                ]
              },
              // {
              //   name: '所得稅費用', //taxE
              //   data: [3065551
              //     , 1919701
              //     , 170836
              //     , 29881
              //     , 64038
              //     , 95210
              //     , 22660
              //   ]
              // },
              {
                name: '所得稅費用', //taxE
                data: [
                  tax_FeeElts[0],
                  tax_FeeElts[1],
                  tax_FeeElts[2],
                  tax_FeeElts[3],
                  tax_FeeElts[4],
                  tax_FeeElts[5],
                  tax_FeeElts[6],
                ]
              },
              {
                name: '本期稅後淨利',//NetPrft_afTax
                data: [5748808
                  , 6725058
                  , 32192
                  , 651159
                  , 254736
                  , 316928
                  , 114170
                ]
              },

            ]
          });
          console.log(chart.colors);
        </script>

      </div>
</body>

</html>