<section th:fragment="footer" class="navbar fixed-bottom " style="background-color: #a5a9aa; "> 
      <ul class="nav" >
        <li class="nav-item">
          <a class="nav-link active font-monospace"  href= "mailto: lorenzoforthis@gmail.com">Email to Lorenzo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active font-monospace" aria-current="page" href="https://github.com/Lorenzoforthis/InvWithJava_backend">Lorenzo's Github </a>
        </li>           
      </ul> 
</section >



