
  <!--**********nav**********-->
  <section id="nav" class="bg-white" th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/main"><i class="fa-solid fa-chart-line"></i>Winner</a>
        <button class="navbar-toggler" href="/main" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/main">首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/charts/pie">台灣股票市場</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                管理介面
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item " id="s02_btn01" href="member-control-panel.html"
                    target="_blank">控制台</a>
                </li>          
                
              </ul>
            </li> -->
          </ul>
          <!-- <div>
            <span class="h4 fw-300 d-none" id="s02_login_username">管理員<span class="fw-300"
                id="s02_login_username">xxx</span></span>
        
            <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#loginModal" id="s02_login_btn" href="loginForm.html">
              登入
            </button>
       
            <button class="btn btn-danger d-none" id="s02_logout_btn">
              登出
            </button>
          </div> -->
        </div>
      </div>
    </nav>
  </section>

